<div class="page-wrapper">
  <!-- MENU SIDE BAR -->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="#">
              <img src="assets/logo.png" alt="luv2Shop" class="img-responsive">
            </a>
        </div>
      <ak-product-category-menu></ak-product-category-menu>
    </aside>
  <!-- END MENU SIDE BAR -->
</div>
<div class="page-container">
    <!-- Header Desktop -->
    <header class="header-desktop">
        <div class="section-content section-content-p30">
          <div class="container-fluid">
              <div class="header-wrap">
                <ak-search></ak-search>
                <ak-cart-status></ak-cart-status>
              </div>
              <div class="account-wrap"></div>
          </div>
        </div>
    </header>
    <!-- END HEADER DESKTOP -->

    <!-- MAIN CONTENT -->
    <router-outlet></router-outlet>
</div>
<!-- END PAGE CONTAINER -->

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>
